In [3]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (9.3.0)

In [ ]:
## steps required:
1. make a connection        ------ create a connector object 
2. create a cursor          ------ create a cursor object 
3. running the queries using execute

In [5]:
import mysql.connector

In [11]:

# Make connection
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root"
)

In [12]:
# create a cursor object 
mycursor = mydb.cursor()

In [13]:
type(mydb)

mysql.connector.connection_cext.CMySQLConnection

In [14]:
type(mycursor)

mysql.connector.cursor_cext.CMySQLCursor

In [15]:
# run commands using the execute function
mycursor.execute('SHOW DATABASES')

In [16]:
list(mycursor)

[('child',),
 ('children',),
 ('demo',),
 ('demo1',),
 ('demo2',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('world',)]

In [17]:
mycursor.execute('SHOW DATABASES')
for db in mycursor:
    print(db)

('child',)
('children',)
('demo',)
('demo1',)
('demo2',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('world',)

In [18]:
#creating a database
mycursor.execute('CREATE DATABASE demo3')

In [19]:
mycursor.execute('SHOW DATABASES')
for db in mycursor:
    print(db)

('child',)
('children',)
('demo',)
('demo1',)
('demo2',)
('demo3',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('world',)

In [20]:
#deleting a database
mycursor.execute('DROP DATABASE demo3')

In [21]:
mycursor.execute('SHOW DATABASES')
for db in mycursor:
    print(db)

('child',)
('children',)
('demo',)
('demo1',)
('demo2',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('world',)

In [25]:
# it will save the progress permanently 
mydb.commit()

MySQLInterfaceError: MySQL server has gone away

In [24]:
# it will close the connection
mydb.close()

In [26]:
# till now we only connected to the mysql environment that is the local host to work with database we need to connect to the database

In [27]:
## Connecting with a database
#to make connection to the database we need to mention that particular database name

In [28]:
mydb = mysql.connector.connect(host = 'localhost' ,
                               user = 'root',
                               password = 'root',
                               database = 'demo1')

In [29]:
mycursor = mydb.cursor()  #creating object

In [30]:
mycursor.execute('SHOW TABLES')
list(mycursor)

[('department',), ('employee',), ('employee2',)]

In [31]:
mycursor.execute('DROP TABLE employee')

In [32]:
mycursor.execute('SHOW TABLES')
list(mycursor)

[('department',), ('employee2',)]

In [37]:
mycursor.execute('CREATE TABLE student(stdid INT PRIMARY KEY, name VARCHAR(50), age INT, city VARCHAR(50))')

In [38]:
mycursor.execute('SHOW TABLES')
list(mycursor)

[('department',), ('employee2',), ('student',)]

In [41]:
query = '''CREATE TABLE students(stdid INT PRIMARY KEY,
                                    name VARCHAR(50), 
                                    age INT, 
                                    city VARCHAR(50))'''
mycursor.execute(query)
# multiline query is always done in ''' ......'''
#......actually we took a variable and then we stored the query for better readability and that it can be used again and agin without writing the whole line of query

ProgrammingError: 1050 (42S01): Table 'students' already exists

In [42]:
mycursor.execute('SHOW TABLES')
for table in mycursor:
    print(table)

('department',)
('employee2',)
('student',)
('students',)

In [45]:
query = '''INSERT INTO students(stdid , name , age , city)
            VALUES(%s , %s ,%s ,%s)'''
val = (101 , 'Abhay'  ,34 , 'Pune')
mycursor.execute(query , val)

In [47]:
mycursor.execute('SELECT *FROM students')
for row in mycursor:
    print(row)

(101, 'Abhay', 34, 'Pune')

In [48]:
type(row)

tuple

In [53]:
stdid = int(input('ENTER STUDENT ID :'))
name = input('ENTER NAME :')
age = int(input('ENTER AGE :'))
city = input('ENTER CITY : ')

val =(stdid , name , age , city )
mycursor.execute(query , val)

ENTER STUDENT ID : 104
ENTER NAME : ronny
ENTER AGE : 12
ENTER CITY :  bihar

In [54]:
mycursor.execute(query , val)

IntegrityError: 1062 (23000): Duplicate entry '104' for key 'students.PRIMARY'

In [55]:
mycursor.execute('SELECT *FROM students')
for row in mycursor:
    print(row)

(101, 'Abhay', 34, 'Pune')
(104, 'ronny', 12, 'bihar')

In [61]:
query  = '''INSERT INTO students(stdid ,name , age  ,city)
            VALUES(%s , %s , %s , %s)'''
val = [(106 , 'SIMRAN' , 32 , 'HYDRABAD') , 
       (109 , 'ATUL' , 23 , 'PUNE'),
      (108 , 'ANIL' , 44  ,'SIGRA')]
mycursor.executemany(query , val)

In [62]:
mycursor.execute('SELECT *FROM students')
for row in mycursor:
    print(row)

(101, 'Abhay', 34, 'Pune')
(102, 'ATUL', 23, 'PUNE')
(103, 'SIMRAN', 32, 'HYDRABAD')
(104, 'ronny', 12, 'bihar')
(106, 'SIMRAN', 32, 'HYDRABAD')
(108, 'ANIL', 44, 'SIGRA')
(109, 'ATUL', 23, 'PUNE')

In [63]:
mycursor.execute('SELECT * FROM students WHERE age > 30 ')
list(mycursor)

[(101, 'Abhay', 34, 'Pune'),
 (103, 'SIMRAN', 32, 'HYDRABAD'),
 (106, 'SIMRAN', 32, 'HYDRABAD'),
 (108, 'ANIL', 44, 'SIGRA')]

In [65]:
mycursor.execute("SELECT * FROM students WHERE city  IN ('pune') ")
list(mycursor)

[(101, 'Abhay', 34, 'Pune'),
 (102, 'ATUL', 23, 'PUNE'),
 (109, 'ATUL', 23, 'PUNE')]

In [66]:
mydb.commit()
mydb.close()

In [67]:
mydb = mysql.connector.connect(host = 'localhost' ,
                               user = 'root',
                               password = 'root',
                               database = 'demo1')

In [72]:
mycursor = mydb.cursor()

In [73]:
mycursor.execute('SHOW TABLES')
for table in mycursor:
    print(table)

('department',)
('employee2',)
('student',)
('students',)

In [74]:
mycursor.execute('SHOW TABLES')
for table in mycursor:
    print(table)

('department',)
('employee2',)
('student',)
('students',)

In [75]:
mydb.commit()
mydb.close()

In [76]:
mydb = mysql.connector.connect(host = 'localhost' ,
                               user = 'root',
                               password = 'root',
                               database = 'demo0')

In [77]:
mycursor.execute('SHOW TABLES')
for table in mycursor:
    print(table)

ProgrammingError: 2055: Cursor is not connected

In [78]:
mycursor = mydb.cursor()

In [79]:
mycursor.execute('SHOW TABLES')
for table in mycursor:
    print(table)

('employee',)

In [80]:
mycursor.execute('SELECT * FROM employee')
list(mycursor)

[(101, 'Rahul', 'Sharma', 'M', 'Delhi', 55000, 'IT'),
 (102, 'Priya', 'Mehra', 'F', 'Mumbai', 60000, 'HR'),
 (103, 'Amit', 'Verma', 'M', 'Jaipur', 45000, 'Finance'),
 (104, 'Sneha', 'Kapoor', 'F', 'Pune', 70000, 'Marketing'),
 (105, 'Karan', 'Singh', 'M', 'Chennai', 50000, 'IT'),
 (106, 'Anjali', 'Rao', 'F', 'Jaipur', 65000, 'Sales'),
 (107, 'Deepak', 'Joshi', 'M', 'Bangalore', 48000, 'Operations'),
 (108, 'Neha', 'Gupta', 'F', 'Hyderabad', 72000, 'Finance'),
 (109, 'Arjun', None, 'M', 'Jaipur', 55000, 'Support'),
 (110, 'Isha', 'Desai', 'F', 'Ahmedabad', 53000, 'HR'),
 (111, 'Vikas', 'Saxena', 'M', 'Jaipur', 46000, 'IT'),
 (112, 'Megha', 'Patil', 'F', 'Jaipur', 58000, 'Sales'),
 (113, 'Rohit', 'Yadav', 'M', 'Noida', 62000, 'Finance'),
 (114, 'Komal', 'Bhatia', 'F', 'Indore', 47000, 'Marketing'),
 (115, 'Manish', 'Kumar', 'M', 'Delhi', 51000, 'Operations'),
 (116, 'Pooja', 'Sinha', 'F', 'Lucknow', 49000, 'HR'),
 (117, 'Suresh', 'Reddy', 'M', 'Jaipur', 53000, 'Support'),
 (118, 'Tanvi', 'Rana', 'F', 'Dehradun', 61000, 'Sales'),
 (119, 'Yash', 'Mishra', 'M', 'Kolkata', 58000, 'Finance'),
 (120, 'Ritika', 'Chopra', 'F', 'Mumbai', 64000, 'IT'),
 (121, 'Abhishek', 'Pandey', 'M', 'Pune', 60000, 'Marketing'),
 (122, 'Nikita', 'Thakur', 'F', 'Jaipur', 70000, 'Finance'),
 (123, 'Vivek', 'Tiwari', 'M', 'Kanpur', 48000, 'Operations'),
 (124, 'Sakshi', 'Dwivedi', 'F', 'Gurgaon', 56000, 'HR'),
 (125, 'Ravi', 'Naik', 'M', 'Jaipur', 52000, 'Support'),
 (126, 'Ankita', 'Singh', 'F', 'Bhopal', 59000, 'Sales'),
 (127, 'Harsh', 'Bansal', 'M', 'Nagpur', 61000, 'Finance'),
 (128, 'Tanya', 'Goyal', 'F', 'Surat', 62000, 'IT'),
 (129, 'Nilesh', 'Jain', 'M', 'Jaipur', 55000, 'HR'),
 (130, 'Divya', 'Agarwal', 'F', 'Patna', 63000, 'Marketing'),
 (131, 'Aarav', 'Kapoor', 'M', 'Mumbai', 68000, 'Finance'),
 (132, 'Simran', 'Gill', 'F', 'Jaipur', 54000, 'Support'),
 (133, 'Mohit', 'Seth', 'M', 'Delhi', 47000, 'Operations'),
 (134, 'Kritika', 'Malhotra', 'F', 'Lucknow', 60000, 'HR'),
 (135, 'Aditya', 'Gupta', 'M', 'Jaipur', 66000, 'IT'),
 (136, 'Swati', 'Mishra', 'F', 'Ahmedabad', 58000, 'Sales'),
 (137, 'Kunal', 'Joshi', 'M', 'Bangalore', 64000, 'Marketing'),
 (138, 'Pallavi', 'Rathore', 'F', 'Pune', 69000, 'Finance'),
 (139, 'Raghav', 'Khandelwal', 'M', 'Jaipur', 57000, 'IT'),
 (140, 'Ira', 'Dubey', 'F', 'Indore', 49000, 'Support'),
 (141, 'Varun', 'Rawat', 'M', 'Noida', 61000, 'Operations'),
 (142, 'Shreya', 'Nair', 'F', 'Jaipur', 65000, 'HR'),
 (143, 'Ayaan', 'Bhatt', 'M', 'Jaipur', 56000, 'Sales'),
 (144, 'Preeti', 'Menon', 'F', 'Kochi', 67000, 'Finance'),
 (145, 'Dhruv', 'Tripathi', 'M', 'Hyderabad', 70000, 'IT'),
 (146, 'Rhea', 'Saxena', 'F', 'Jaipur', 59000, 'Marketing'),
 (147, 'Siddharth', 'Chauhan', 'M', 'Delhi', 62000, 'Support'),
 (148, 'Avni', 'Roy', 'F', 'Mumbai', 64000, 'Sales'),
 (149, 'Uday', 'Verma', 'M', 'Jaipur', 55000, 'Operations'),
 (150, 'Ishita', 'Bose', 'F', 'Kolkata', 60000, 'HR')]

In [84]:
query = '''SELECT * FROM employee
            WHERE salary BETWEEN 60000 AND 70000
            ORDER BY salary DESC'''
mycursor.execute(query)
list(mycursor)

[(104, 'Sneha', 'Kapoor', 'F', 'Pune', 70000, 'Marketing'),
 (122, 'Nikita', 'Thakur', 'F', 'Jaipur', 70000, 'Finance'),
 (145, 'Dhruv', 'Tripathi', 'M', 'Hyderabad', 70000, 'IT'),
 (138, 'Pallavi', 'Rathore', 'F', 'Pune', 69000, 'Finance'),
 (131, 'Aarav', 'Kapoor', 'M', 'Mumbai', 68000, 'Finance'),
 (144, 'Preeti', 'Menon', 'F', 'Kochi', 67000, 'Finance'),
 (135, 'Aditya', 'Gupta', 'M', 'Jaipur', 66000, 'IT'),
 (106, 'Anjali', 'Rao', 'F', 'Jaipur', 65000, 'Sales'),
 (142, 'Shreya', 'Nair', 'F', 'Jaipur', 65000, 'HR'),
 (120, 'Ritika', 'Chopra', 'F', 'Mumbai', 64000, 'IT'),
 (137, 'Kunal', 'Joshi', 'M', 'Bangalore', 64000, 'Marketing'),
 (148, 'Avni', 'Roy', 'F', 'Mumbai', 64000, 'Sales'),
 (130, 'Divya', 'Agarwal', 'F', 'Patna', 63000, 'Marketing'),
 (113, 'Rohit', 'Yadav', 'M', 'Noida', 62000, 'Finance'),
 (128, 'Tanya', 'Goyal', 'F', 'Surat', 62000, 'IT'),
 (147, 'Siddharth', 'Chauhan', 'M', 'Delhi', 62000, 'Support'),
 (118, 'Tanvi', 'Rana', 'F', 'Dehradun', 61000, 'Sales'),
 (127, 'Harsh', 'Bansal', 'M', 'Nagpur', 61000, 'Finance'),
 (141, 'Varun', 'Rawat', 'M', 'Noida', 61000, 'Operations'),
 (102, 'Priya', 'Mehra', 'F', 'Mumbai', 60000, 'HR'),
 (121, 'Abhishek', 'Pandey', 'M', 'Pune', 60000, 'Marketing'),
 (134, 'Kritika', 'Malhotra', 'F', 'Lucknow', 60000, 'HR'),
 (150, 'Ishita', 'Bose', 'F', 'Kolkata', 60000, 'HR')]

In [87]:
query = ''' SELECT department , AVG(salary) as avg_sal FROM employee
            GROUP BY department
            ORDER BY avg_sal DESC '''
mycursor.execute(query)
list(mycursor)

[('Finance', Decimal('63555.5556')),
 ('Marketing', Decimal('60500.0000')),
 ('Sales', Decimal('60142.8571')),
 ('IT', Decimal('58750.0000')),
 ('HR', Decimal('57250.0000')),
 ('Support', Decimal('54166.6667')),
 ('Operations', Decimal('51666.6667'))]

In [88]:
query = '''SELECT *FROM employee
 WHERE salary > (SELECT AVG(salary) FROM employee)'''

mycursor.execute(query)
list(mycursor)

[(102, 'Priya', 'Mehra', 'F', 'Mumbai', 60000, 'HR'),
 (104, 'Sneha', 'Kapoor', 'F', 'Pune', 70000, 'Marketing'),
 (106, 'Anjali', 'Rao', 'F', 'Jaipur', 65000, 'Sales'),
 (108, 'Neha', 'Gupta', 'F', 'Hyderabad', 72000, 'Finance'),
 (113, 'Rohit', 'Yadav', 'M', 'Noida', 62000, 'Finance'),
 (118, 'Tanvi', 'Rana', 'F', 'Dehradun', 61000, 'Sales'),
 (120, 'Ritika', 'Chopra', 'F', 'Mumbai', 64000, 'IT'),
 (121, 'Abhishek', 'Pandey', 'M', 'Pune', 60000, 'Marketing'),
 (122, 'Nikita', 'Thakur', 'F', 'Jaipur', 70000, 'Finance'),
 (126, 'Ankita', 'Singh', 'F', 'Bhopal', 59000, 'Sales'),
 (127, 'Harsh', 'Bansal', 'M', 'Nagpur', 61000, 'Finance'),
 (128, 'Tanya', 'Goyal', 'F', 'Surat', 62000, 'IT'),
 (130, 'Divya', 'Agarwal', 'F', 'Patna', 63000, 'Marketing'),
 (131, 'Aarav', 'Kapoor', 'M', 'Mumbai', 68000, 'Finance'),
 (134, 'Kritika', 'Malhotra', 'F', 'Lucknow', 60000, 'HR'),
 (135, 'Aditya', 'Gupta', 'M', 'Jaipur', 66000, 'IT'),
 (137, 'Kunal', 'Joshi', 'M', 'Bangalore', 64000, 'Marketing'),
 (138, 'Pallavi', 'Rathore', 'F', 'Pune', 69000, 'Finance'),
 (141, 'Varun', 'Rawat', 'M', 'Noida', 61000, 'Operations'),
 (142, 'Shreya', 'Nair', 'F', 'Jaipur', 65000, 'HR'),
 (144, 'Preeti', 'Menon', 'F', 'Kochi', 67000, 'Finance'),
 (145, 'Dhruv', 'Tripathi', 'M', 'Hyderabad', 70000, 'IT'),
 (146, 'Rhea', 'Saxena', 'F', 'Jaipur', 59000, 'Marketing'),
 (147, 'Siddharth', 'Chauhan', 'M', 'Delhi', 62000, 'Support'),
 (148, 'Avni', 'Roy', 'F', 'Mumbai', 64000, 'Sales'),
 (150, 'Ishita', 'Bose', 'F', 'Kolkata', 60000, 'HR')]